@import "../node_modules/bootstrap/scss/bootstrap.scss";

.offers {    
    display: grid;
    
    grid-template-rows:    repeat(6, 1fr);
    grid-template-columns: 1fr;

    @include media-breakpoint-up(lg) {
        grid-template-rows:    repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
    }

    .offer {
        img { height: 15.5rem }

        &__price {
            font-size: 2em;
        }
    }
}